#mybutton{
    background-color: aqua;
}

#buttontwee{
    color:red;
    background-color: darkslategray;
}
.blue-background {
	background-color: blue; 
}
.red-background {
	background-color: red; 
}